{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Team
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        You were randomly assigned to <strong>Team {{ player.treatment }}</strong>.

    </p>
    <p>

        {% if treatment == 'A' %}

        There are {{ n_team_a_consented }} people on your team (Team A) and {{ n_team_b_consented }} people
        on the team you are playing against (Team B).

        {% else %}

        There are {{ n_team_b_consented }} people on your team (Team B) and {{ n_team_a_consented }} people
        on the team you are playing against (Team A).

        {% endif %}

    </p>
    <p>
        Please click ‘Next’ when you are ready to start the quiz.
    </p>
</div>

<span align="right">
{% next_button %}
</span>


{% endblock %}
