{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your Views on Feedback 1
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>
    <body style="background-color:#faf0e6;">

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

</body>
</div>

For your reference, this was feedback 1:

{% include Constants.fairplay_template %}

{% endblock %}
