{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Feedback {% if firstfeedback == 'fairplay' %} 1 {% else %} 2 {% endif %}
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>
    <div style="font-style: italic">
    <body style="background-color:#faf0e6;">

    <p>
        <p style="font-size:22px;"><strong><u>Good game!</u></strong></p>
    </p>
    <p>
        <strong>Team A has had the luck of the draw.</strong>
        But that is the spirit of a pub quiz and that's what makes them fun: You have to be ready for anything
        because what you get is pure chance.
    </p>
    <p>
        <strong>Team A has done exceptionally well. You won fair and square.</strong>

        As to the specific questions:
    </p>
    <p>
        {% if falsefeedback == 'fairplay' %}
    <ul>
        <li>{{ Constants.bullet_points_false_facts_fairplay.0 }}</li>
        <li>{{ Constants.bullet_points_false_facts_fairplay.1 }}</li>
        <li>{{ Constants.bullet_points_false_facts_fairplay.2 }}</li>
        <li>{{ Constants.bullet_points_false_facts_fairplay.3 }}</li>
    </ul>
        {% endif %}

        {% if falsefeedback == 'unfair' %}
    <ul>
        <li>{{ Constants.bullet_points_true_facts.0 }}</li>
        <li>{{ Constants.bullet_points_true_facts.1 }}</li>
        <li>{{ Constants.bullet_points_true_facts.2 }}</li>
        <li>{{ Constants.bullet_points_true_facts.3 }}</li>
    </ul>
        {% endif %}
    </p>

</div>
</body>

<span align="right">
{% next_button %}
</span>

{% endblock %}