{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Other People's Feedback
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        Thanks for your feedback.
    </p>
    <p>
        <strong>Next, we will show you two other verdicts about the same game you just played.</strong> We would like to know whether you
        agree with them.
    </p>
</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
