{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction (1/3)
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        <strong>Thanks for participating in this study.</strong>
    </p>

    <p>
        Please read the following instructions carefully.
    </p>
    <p>
        [Note that these are the same instructions you will have found on your desk.
        If you have already read them and are ready to start just click 'Next'.]
     </p>

    <p>
        <strong>The main part of this study is a geography quiz. Think of it as pub quiz.</strong>
        We will split you up into 2 teams: Team A and Team B. Everybody on your team will
        receive the same questions you receive. However, you will answer your questions individually. The other team
        will receive different questions. Each question comes with 4 options, one of which is correct.
    </p>
    <p>
        <strong>There will be {{ Constants.no_rounds }} rounds with {{ Constants.questions_per_round }} questions each.</strong>
        You will answer one question at a time.
        The quiz is timed: You will have {{ Constants.ret_task_timer }}
        seconds to answer each question. You will see the timer as you answer the questions.
    </p>
    <p>
        <strong>Please answer each of your team's question and validate your answer by clicking 'Next'
        before the timer hits zero.</strong> If you do not click 'Next' within those
        {{ Constants.ret_task_timer }} seconds you will be automatically forwarded to the next page. In that case
        your answer will not be recorded and you will not earn any money on that question.
        After each of your own team's question you will see the other team's question.
        (Obviously, we will not ask you to answer the other team's questions.)
    </p>
    <p>
        The time you spend looking at the other team's question is not timed. You may use that as a short break
        before you move on to your team's next question.
        If you do not tick any of the 4 answer choices you within your 30 second time limit no answer will be
        recorded and you will be forwarded to the next page.

    </p>
    <p>
        After each round, that is, after {{ Constants.questions_per_round }} questions you will see the correct
        answers to your own team's questions and to the other team's questions.
    </p>

</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
