{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction (3/3)
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


    <p>
        <p style="font-size:22px;"><strong><u>Please do not look up any answers online or on your phone.</u></strong></p>
        Doing so will disqualify you from continuing this study and from receiving any payment.
    </p>
    <p>
        <strong>Please do not open any tabs other than the one with this survey.</strong>
        Note that the lab assistants can see everybody’s screen on their computers. If we see any open tabs we will
        come out to check.
    </p>
    <p>
        <strong>Please do not close this browser window during the experiment.</strong> (If you do accidentally close
        it please let us know ASAP to avoid interrupting the game.)
    </p>
    <p>
        If you need help with anything or if there is anything you do not understand at any point during this
        experiment please raise your hand (up high!). One of the lab assistants will come and help you.
    </p>
    <p>
        If you have any questions at this point, please raise your hand now. If everything is clear and you are
        ready to start, please click the “Next” button to see which team you are on.
    </p>

</div>

<span align="right">
{% next_button %}
</span>


{% endblock %}
