{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Introduction (2/3)
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


    <p>
        <strong>How much you make on this quiz depends on your own performance, and on your group’s performance.</strong>
    </p>
    <p>
        Your payoff is calculated as follows:
    </p>
    <p> <strong>Each correct answer is worth {{ Constants.stakes }}. Everybody on your team will keep half of what they earn
        for themselves. The other half will be put into a pot and will be evenly divided between all
        team members.</strong>
    </p>
    <p>
        In mathematical terms:
    </p>
    <p>
        Your payoff = (0.5 * the number of questions <strong>you</strong> answer correctly) +
        (0.5 * the total number of questions <strong> your team</strong> answers correctly /
        the number of people on your team).

    </p>

    <p>
        Note, though, that we have a {{ Constants.minimum_payoff }} minimum payment policy at ESSEXLab:
        If your payoff as determined by this quiy is less than {{ Constants.minimum_payoff }}
        you will be paid {{ Constants.minimum_payoff }}.

    </p>

    <p>
        <strong>That means that you can make between {{ Constants.minimum_payoff }} and
        {{ Constants.maximum_payoff }}</strong>  (if everybody on your team answers all questions correctly).
    </p>

</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
