{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Practice Question: Other Team
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

<p>
    And here is the other team's question. [This is just for your information -- not for you to answer!]

</p>

<p>

    <strong>{{ player.other_practiceQ }}</strong>

</p>

    <ul>
    <li>{{ choice1 }} </li>
    <li>{{ choice2 }} </li>
    <li>{{ choice3 }}</li>
    <li>{{ choice4 }}</li>
    </ul>


</div>

{% next_button %}

{% endblock %}
