{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payoffs
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        Payoffs are calculated as follows: Each correct answer is worth {{ Constants.stakes }}. Half of what you
        earn is yours. The other half is put into your team's pot, which is evenly divided among all team members.
    </p>

    <p>
        <p style="font-size:25px;">Your Correct Answers</p>
    </p>


    <p>
        <strong>In total, you answered {{ is_correct_total }} out of {{ Constants.num_rounds }} questions correctly.</strong>

    </p>
    <p>
        That means that you have earned {{ earned_total }}. Half of this, i.e. <strong>{{ half_own_earnings }}</strong>, is
        yours. The other half has been put into your team's pot to be evenly divided among all team members.
    </p>
    <p>
        Check the following table (the last column) to see how much you got out of your team's pot:
    </p>

    <p>
        <p style="font-size:25px;">Your Team's Pot</p>
    </p>

    <p>
        <table class="table">
    <tr>
        <th>Team</th>
        <th># Team Members</th>
        <th>Joint # of Correct Answers</th>
        <th>Joint Earnings</th>
        <th>‎£ in Team's Pot <br> (Joint Earnings / 2) </th>
        <th>‎£ for each Team Member <br> (Pot / # Team Members)</th>
     </tr>

    <tr>
        <td>A</td>
        <td>{{ n_team_a_consented }} team members</td>
        <td>{{ team_a_is_correct_total }} correct answers</td>
        <td>{{ team_a_earned_total }}</td>
        <td>{{ team_a_pot }}</td>
        <td>{{ team_a_add_on }}</td>
    </tr>

    <tr>
        <td>B</td>
        <td>{{ n_team_b_consented }} team members</td>
        <td>{{ team_b_is_correct_total }} correct answers</td>
        <td>{{ team_b_earned_total }}</td>
        <td>{{ team_b_pot }}</td>
        <td>{{ team_b_add_on }}</td>
    </tr>
    </table>

    </p>

    <p>
        <p style="font-size:25px;">Your Payoffs</p>
    </p>

    <p>
        As a member of <strong>Team {{ treatment }}</strong> you have received <strong> {% if player.treatment == 'A' %} {{ team_a_add_on }}
        {% else %} {{ team_b_add_on }} {% endif %} </strong> out of your team's pot.
    </p>
    <p>
        <strong>Therefore, your total payoff for this game is {{ half_own_earnings }} +  {% if player.treatment == 'A' %}
        {{ team_a_add_on }} {% else %} {{ team_b_add_on }} {% endif %} = {{ payoff }}.</strong>
    </p>

    <p>
        Note that  we have a {{ Constants.minimum_payoff }} minimum payoff policy for all experiments at ESSEXLab.
        That means that if your payoff is less than {{ Constants.minimum_payoff }} you will still be paid
        {{ Constants.minimum_payoff }}.
    </p>


    <p>
        <p style="font-size:25px;">Average Payoffs</p>
    </p>

    <p>
        For your reference, here is how much members of Team A and B made in this quiz on average:
    </p>

    <table class="table">
    <tr>
        <th>Team</th>
        <th>Average Payoffs</th>
     </tr>

    <tr>
        <td>A</td>
        <td>{{ team_a_avg_payoff }}</td>
    </tr>

    <tr>
        <td>B</td>
        <td>{{ team_b_avg_payoff }}</td>
    </tr>
    </table>

    <p>
        <p style="font-size:25px;">Receipt Forms</p>
    </p>

    <p>
        <strong>Now that you know how much you will be paid, please find the receipt form on your desk and fill it out</strong>,
        indicating your full name, your computer number (that is, the number on your ping pong ball), and the amount
        you will be paid, that is, {{ payoff }}. If your payoff is less than £5.00, please write in £5.00.
    </p>
    <p>
        <strong>Note that this experiment is not yet over.</strong> However, filling this out now will make it easier for us to
        pay you later: all we will have to do then is quickly check your payoff, pay you, and have you sign the receipt form.
        (No need to sign it now as you have not yet received your payoff.)
    </p>
    <p>
        If you have any questions about your payoffs, please raise your hand and we will be with you shortly.
    </p>
    <p>
        Then click 'Next' to move on to the next questions.
    </p>


</div>


<span align="right">
{% next_button %}
</span>


{% endblock %}
