{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payoffs
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


    <p>
        Before we continue: Please find the receipt form on your desk.
    </p>

    <p>
        Under "FULL NAME: ____________________________ " please write in your full name.
    </p>
    <p>
        Under "I acknowledge the receipt of the sum of £ ________ " please write in the amount you will receive,
        that is, {{ paid }}.
    </p>
    <p>
        (The experiment is not yet over but this will make it easier for us to pay you at
        the end. Please refrain from signing it at this point: we will ask you to sign it when
        you actually receive your money at the end of this experiment.)
    </p>
    <p>
        Then click 'Next' to move on to the next questions.
    </p>


</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
