{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payoffs
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


    <p>
        Before we continue: If you haven't done so already, please find the receipt form on your desk and fill it out:
    </p>

    <p>
        Under "FULL NAME: ____________________________ " (on the paper, not the computer) please write in your
        full name.
    </p>
        Under "computer number" please write in the number of your computer, that is, the number on your ping pong ball.
    </p>
    <p>
        Under "I acknowledge the receipt of the sum of £ ________ " please write in the amount you will receive,
        that is, <strong>{{ paid }}</strong>.
    </p>
    <p>
        <strong>Note that this experiment is not yet over.</strong> However, filling this out now will make it easier for us to
        pay you later: all we will have to do then is quickly check this number, pay you, and have you sign it.
        (No need to sign it now as you have not yet received your payoff!)
    </p>
    <p>
        Then click 'Next' to move on to the next questions.
    </p>


</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
