{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Payoffs
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


    <p>
        Payoffs are calculated as follows: Each team member keeps half of their earnings, and contributes the
        other half of their earnings into a pot, which is evenly divided among all team members.
        Here is the breakdown:

    <p>

    <table class="table">
    <tr>
        <th>Team</th>
        <th># Members</th>
        <th># Correct Answers (All Members)</th>
        <th>Total Earnings (All Members)</th>
        <th>Size Pot</th>
        <th>Size Pot / # Members</th>
     </tr>

    <tr>
        <td>A</td>
        <td>{{ n_team_a_consented }} team members</td>
        <td>{{ team_a_is_correct_total }} correct answers</td>
        <td>{{ team_a_earned_total }}</td>
        <td>{{ team_a_pot }}</td>
        <td>{{ team_a_add_on }}</td>
    </tr>

    <tr>
        <td>B</td>
        <td>{{ n_team_b_consented }} team members</td>
        <td>{{ team_b_is_correct_total }} correct answers</td>
        <td>{{ team_b_earned_total }}</td>
        <td>{{ team_b_pot }}</td>
        <td>{{ team_b_add_on }}</td>
    </tr>
    </table>

    </p>


    <p>
        <strong>Your Payoff: {{ payoff }}</strong>
    </p>

    <p>
        You answered {{ is_correct_total }} out of {{ Constants.num_rounds }} questions correctly.
        That means that you have earned {{ earned_total }}.
        Half of these earnings are yours, the other half have been transferred to your team's pot. As a member of
        Team {{ treatment }} you have received
        {% if player.treatment == 'A' %} {{ team_a_add_on }} {% else %} {{ team_b_add_on }} {% endif %}
        out of this pot.

        Therefore, your total payoff for this game is {{ payoff }}.
    </p>

    <p>


    <table class="table">
  <tr>
    <th>Team</th>
    <th># Correct</th>
    <th>Earned</th>
    <th>Kept earnings</th>
    <th>Added share of team's earnings</th>
    <th>Payoff</th>
  </tr>
  <tr>
    <td>{{ treatment }}</td>
    <td>{{ is_correct_total }}</td>
    <td>{{ earned_total }}</td>
    <td>{{ half_own_earnings }}</td>
    <td>{% if player.treatment == 'A' %} {{ team_a_add_on }} {% else %} {{ team_b_add_on }} {% endif %}</td>
    <td>{{ payoff }}</td>
  </tr>

</table>
    </p>

    <p>
        (Note that if your payoff is less than the {{ Constants.minimum_payoff }} minimum payoff you will
        be paid {{ Constants.minimum_payoff }}).
    </p>

</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
