{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Results This Round
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        In this round, on average, the members of Team A answered {{ team_a_avg_correct_this_round }}% of their questions correctly. <br>
        In this round, on average, the members of Team B answered {{ team_b_avg_correct_this_round }}% of their questions correctly.
    </p>

    <p>
    <strong>Please click 'Next' to continue.</strong>
    </p>


</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}