{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
The End
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>

    <p>
        That's the end of this experiment.
    </p>

    <p>
        <strong>Please wrap up quietly: others may still be answering questions.</strong> We will pay you off in the little room behind
        the glass windows -- please make your way there. If others are already waiting please form a queue.

        It will take us a few minutes to get everybody’s payments ready; bear with us as we are paying your
        fellow participants. We will do our best to be with you as quickly as we can.

    </p>
    <p>
        After you receive your payoff, please sign the receipt form and hand it over to one of
            the lab assistants.

    </p>
    <p>
        <strong>Thanks again for coming along! Your participation makes social science research
        at Essex possible.</strong>
    </p>

</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}