{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Feedback {% if firstfeedback == 'unfair' %} 1 {% else %} 2 {% endif %}
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>
    <div style="font-style: italic">
    <body style="background-color:#e7f0f1;">

    <p>
        This game was unfair. The questions Team A got were far easier than the questions Team B got.
        Team B had no chance of getting anywhere near Team A's payoffs, let alone the maximum payoffs.
    </p>
    <p>
        The time limit probably didn't hurt Team A all that much; their questions were easy enough to be
        answered in no time. But for Team B it was an additional nuisance.
    </p>
    <p>
        Considering the difficulty of the questions Team B got anything more than zero correct answers is impressive.
        Anyone can see from the payments that Team B has done extraordinarily well.
    </p>
    <p>
        So my main feedback is this: You should top up the payoffs for Team B.
        An additional flat payment of GBP 5.00 on top of each team member's payoff is the least you can do.
    </p>
    <p>
        To answer the points you wanted feedback on:
    </p>
    <p>

        {% if falsefeedback == 'unfair' %}

        {{ bullet_points_false_facts_unfair.0 }}
        {{ bullet_points_false_facts_unfair.1 }}
        {{ bullet_points_false_facts_unfair.2 }}

        {% endif %}

        {% if falsefeedback == 'fairplay' %}

        {{ bullet_points_true_facts.0 }}
        {{ bullet_points_true_facts.1 }}
        {{ bullet_points_true_facts.2 }}


        {% endif %}

    </p>

</div>
</body>

<span align="right">
{% next_button %}
</span>


{% endblock %}