{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Feedback {% if firstfeedback == 'unfair' %} 1 {% else %} 2 {% endif %}
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>
    <div style="font-style: italic">
    <body style="background-color:#e7f0f1;">

    <p>
        <p style="font-size:22px;"><strong><u>This game was unfair.</u></strong></p>
    </p>
    <p>
        <strong>The questions Team A got were far easier than the questions Team B got.</strong>
        Team B had no chance of getting anywhere near Team A's payoffs, let alone the maximum payoff.
        Considering the difficulty of the questions Team B got anything more than zero correct answers is impressive.
    </p>
    <p>
        <strong> Anyone can see from the payments that Team B has done extraordinarily well.
        Team B should have their payments topped up.</strong> The least you can do is give each member of Team B an additional flat
        payment of GBP 5.00 on top of their payoffs.
    </p>
    <p>
        To answer the points you wanted feedback on:
    </p>

        {% if falsefeedback == 'unfair' %}
    <ul>
        <li>{{ Constants.bullet_points_false_facts_unfair.0 }}</li>
        <li>{{ Constants.bullet_points_false_facts_unfair.1 }}</li>
        <li>{{ Constants.bullet_points_false_facts_unfair.2 }}</li>
        <li>{{ Constants.bullet_points_false_facts_unfair.3 }}</li>
    </ul>
        {% endif %}

        {% if falsefeedback == 'fairplay' %}
    <ul>
        <li>{{ Constants.bullet_points_true_facts.0 }}</li>
        <li>{{ Constants.bullet_points_true_facts.1 }}</li>
        <li>{{ Constants.bullet_points_true_facts.2 }}</li>
        <li>{{ Constants.bullet_points_true_facts.3 }}</li>
    </ul>
        {% endif %}


</div>
</body>

<span align="right">
{% next_button %}
</span>

{% endblock %}