{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
Welcome 
{% endblock %}

{% block content %}


<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


<p>
	<strong>Welcome to ESSEXLab.</strong>

	You have been invited to participate in a study to learn more about how people make decisions.
	If you agree to participate in this study you will be asked to answer a few questions and play a game on your
	computer.
</p>
<p>
	<strong>You will receive a minimum of £5.00</strong> plus an additional pay-off that will be determined by your own performance
	and your team's performance in an online game. The study will take around 30 minutes (and up to 45 minutes).
</p>
<p>
	There are no known risks associated with this study.
</p>
<p>
	<strong>Participation in this study is voluntary.</strong> You may refuse to participate and you may withdraw at any time. However,
	if you do withdraw before the end of the study, you will receive no payment.
    You may choose not to answer any questions you prefer not to answer.
</p>
<p>
	<strong>Your data will be kept confidential.</strong> Identifying information appears only on receipt forms (the form
	on which you will sign that you received your payoff at the end of this study). Those forms  will be locked
	in a secure office for three years after the completion of the study and will then be destroyed.
	To preserve the anonymity of the data we collect in this study, each participant will be assigned a random
	code number. This code  will be used to keep track of data produced by the experiment.
	Publications based on this data will only use group results, no identifying information.
</p>
<p>
	<strong>Should you have any questions about participating in this study please raise your hand now and ask
	the experimenters.</strong>
    Should any questions arise after the study, should you have any concerns about your data, or should you wish to
    report any problems related to this study please e-mail me (Christine Stedtnitz) at cmsted@essex.ac.uk.
</p>

</div>

<span align="right">
{% next_button %}
</span>

{% endblock %}