{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Your Feedback
{% endblock %}

{% block content %}

<div class="instructions well well-lg">
    <h2 class="panel-sub-heading"></h2>
    <link rel="stylesheet" type="text/css"/>


<p>
    Now we would like to ask for your own, personal feedback. In particular, we would like your views on the
    following three questions.

    If there is anything else you would like to to tell us please use one field for each point.
    If you do not need all the fields please just leave the ones you do not need open.

</p>

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    </div>

<span align="right">
{% next_button %}
</span>

{% endblock %}
